.btn {
  padding: 5px 8px;
  border: none;
}
.icon {
}
.text {
}
.plain {
}
.fill {
}
.outline {
}
.fillRounded,
.outlineRounded {
  border-radius: 100px;
}

.ripple {
}
.zoomIn {
}
.zoomOut {
}
.LR {
}
.RL {
}
.TB {
}
.BT {
}
